body,textarea,input{
	font: 13px sans-serif;
}

.chat{
	max-width: 300px;
}
.chat-name,
.chat-textarea,
.chat-messages{
	width: 100%;
	padding: 10px 0 10px 10px;
	border: 1px solid #bbb;
}
.chat-messages{
	width: 100%;
	height: 300px;
	overflow-y: scroll;
}
.chat-message{
	width: 100%;
	padding: 5px;
}
.chat-textarea{
	max-width: 100%;
}